:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}


.footerComponent{
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
}

.paymentWaysContainer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: white;
  margin: 10px 0;
}

.iconImage{
  max-width: 150px;
  max-height: 50px;
}

.linksContainer{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  background-color: #00305e;
  justify-items: center;
}

.linkContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 10px;
}

.subTitle{
  margin-left: 10px;
  font-weight: bold;
  color: white;

}

.link{
  padding: 10px 0;
  text-decoration: none;
  color: rgb(192, 190, 190);
  transition: 0.3s;
}

.link:hover{
  color: #F4DA40;
}

.emailLabel{
  color: white;
}

.newsLetterContainer{
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.newsletter{
  width: 90%;
  margin-top: 5px;
  height: 30px;
  font-size: 15px;
  outline: none;
}

.newsletterButton{
  font-size: 15px;
  margin-top: 5px;
  border: none;
  padding:18px;
  color: #00305e;
  background-color: #F4DA40;
}